<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Convert excel to Json Object</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
        

</head>
<body>
    <div class="container mt5" id="generate-image">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <input type="file" class="form-control" id="input" accept=".xls,.xlsx">
            </div>
        <div class="col-md-2">
            <button class="btn btn-primary" id="button">Gerar Produção</button>
        </div>   

        </div>
    </div>
    <a class="download"></a>

<div id="canvasDown">   
    <table id="tabela-gpon"> 
        <tr id="title-gpon"></tr>
        <tr id="cabecalho"></tr>
        <tr id="arc"></tr>   
        <tr id="cim"></tr>        
        <tr id="cca"></tr>
        <tr id="cna"></tr>
        <tr id="gri"></tr>
        <tr id="lns"></tr>
        <tr id="smt"></tr>
        <tr id="sea"></tr>
        <tr id="vva"></tr>
        <tr id="vta"></tr> 
        <tr id="total"></tr> 
    </table >
    

    <table id="tabela-metalico">
        <tr id="title-metalico"></tr>
        <tr id="cabecalho-metalico"></tr>
        <tr id="cca-metalico"></tr>
        <tr id="cna-metalico"></tr>
        <tr id="lns-metalico"></tr>
        <tr id="sea-metalico"></tr>
        <tr id="vva-metalico"></tr>
        <tr id="vta-metalico"></tr>
        <tr id="total-metalico"></tr>
    </table>

    
</div>
</body>

    <script src="/converter.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.5/dist/html2canvas.min.js"></script>
</html>