<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Convert excel to Json Object</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>

</head>
<body>
    <div class="container mt5">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <input type="file" class="form-control" id="input" accept=".xls,.xlsx">
            </div>
        <div class="col-md-2">
            <button class="btn btn-primary" id="button">Convert</button>
        </div>
    
    <div class="col-md-12">
        <pre id="jsondata"></pre>
    </div>

        </div>
    </div>
</body>

<script>
    let selectedFile

document.getElementById('input').addEventListener('change', (event) => {
    selectedFile = event.target.files   [0]
})


document.getElementById('button').addEventListener('click', () => {
    if(selectedFile){
        let fileReader = new FileReader()
        fileReader.readAsBinaryString(selectedFile)
        fileReader.onload = (event) => {
            let data = event.target.result
            let workbook = XLSX.read(data, {type:'binary'})
            // console.log(workbook)
            workbook.SheetNames.forEach(sheet => {
            let rowObject = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheet])    
            
            const retirarVazio = item => item !== ''
            const pon = item => item.PON   
            const recurso = item => item.Recurso
            const cidade = item => item.Cidade
            const ard = item => item['ID de Armário']       
            
            const create = (pon) => {
                return pon
            }

            const getPon = rowObject.map(pon).filter(retirarVazio)
            const getCidade = rowObject.map(cidade).filter(retirarVazio)
            const getRecurso = rowObject.map(recurso).filter(retirarVazio)

            //console.log(create(getPon))

            document.getElementById('jsondata').innerHTML = JSON.stringify(rowObject, undefined, 4)
          
            });
        }
    }    
})


</script>
</html>